@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Dovemayo_gothic';
}

i {
  color: #b0daff;
}

span {
  color: #fc2947;
}
article {
  display: flex;
  flex-direction: column;
}

.question {
  display: none;
}

.result {
  display: none;
}

#img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#score {
  color: red;
}
